@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: white;
    --color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --color: white;
    }
}

:root {
    background-color: var(--background-color);
    color: var(--color);
    -webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
  }
}